* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  background-color: #757575;
  color: whitesmoke;
}

.tmdb-img {
  width: 100px;
  height: 50px;
}

input::placeholder {
  text-align: center;
}

.movie-desc {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 1.5em;
}
.movie-desc1 {
  border: 3px solid white;
}

.collapsible-header {
  background-color: #9E9E9E;
}

.poster {
  margin: 0 auto;
  width: 50%;
}

