@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,900");

body {
  font-family: "Montserrat", sans-serif;
}

.hidden {
  visibility: hidden;
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 16px;
  color: #fb3a2f;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

nav ul a:hover {
  background-color: rgba(253, 175, 180, 0.4);
}

.brand-logo {
  padding-left: 15px !important;
}

.fa-3x {
  font-size: 2em;
}

#intro {
  /* background: url("https://static.pexels.com/photos/274937/pexels-photo-274937.jpeg")
    no-repeat; */
  background-image: linear-gradient(#ff6464), rgba(255, 0, 0, 1);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popcorn-image {
  position: absolute;
  z-index: -8;
  bottom: -110px;
  left: -400px;
}

.card .card-action {
  padding: 16px 24px 1px;
}

fieldset {
  border: none;
  text-align: left;
}

.card-title {
  font-size: 5em !important;
  font-weight: 300 !important;
  width: 100% !important;
}

.btn {
  border-radius: 25px;
  background-color: #fb3a2f;
}

.btn:hover,
.btn-large:hover {
  background-color: lightcoral;
}

input[type="number"]:focus {
  border-bottom: 1px solid #fe665a !important;
}

input[type="number"] {
  padding-left: 0.5em !important;
}

footer {
  background-color: whitesmoke;
  opacity: 0.8;
}

.down-arrow {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 80%;
  left: 45%;
}

.down-arrow:focus {
  background-color: transparent;
  border: none;
}

.down-arrow:hover {
  transition: all ease-in 0.4s;
  width: 50px;
  color: red;
}

.tmdb-img {
  width: 50px;
  margin: 1em;
}

.social-btn li {
  display: inline-block;
  padding: 50px 10px;
}

a {
  color: black;
}

.tmdb-link {
  color: inherit;
}
.tmdb-link:hover {
  text-decoration: underline;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#js-search-form {
  background-color: white;
  opacity: 0.9;
  color: black;
  margin-top: 200px;
}

.title {
  margin: 0;
  text-shadow: 2px 2px 8px black;
  letter-spacing: 2px;
}

.about-desc {
  padding: 1em;
  text-shadow: 2px 2px 8px black;
  font-size: 1.5em;
  letter-spacing: 1.5px;
}

.fix-scroll {
  overflow: auto;
  overflow-y: auto;
  height: 800px;
}

#intro {
  background: url("https://static.pexels.com/photos/274937/pexels-photo-274937.jpeg")
    no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #1c1c1c;
  color: whitesmoke;
}

input::placeholder {
  text-align: center;
  color: gray;
  font-size: 1em;
  font-weight: 500;
  background-color: rgb(250, 255, 189);
}

form.hidden {
  visibility: hidden;
}

.form-head {
  font-size: 1.5em;
}

.movie-desc {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 1.5em;
}
.movie-desc1 {
  color: white;
  padding: 1em;
  line-height: 1.8em;
}

.collapsible-header,
.collapsible-body {
  color: black;
  border: 10px solid whitesmoke;
  opacity: 0.9;
}

.collapsible-header {
  font-size: 1.3em;
}

.poster {
  margin: 0 auto;
}

.modal .modal-content {
  color: white;
  background-color: #1a1c20;
}

footer {
  margin-top: 500px;
  background-color: whitesmoke;
  opacity: 0.8;
}

.tmdb-img {
  width: 100px;
  margin: 1em;
}

.social-btn li {
  display: inline-block;
  padding: 50px 10px;
}

a {
  color: black;
}

.tmdb-link {
  color: inherit;
}
.tmdb-link:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .movie-desc1 {
    font-size: 0.7em;
  }
  .modal-content h4 {
    font-size: 1.5em;
  }
  body,
  html {
    height: 0;
  }
  .collapsible-header,
  .collapsible-body {
    font-size: 1em;
  }
  .js-btn {
    display: inline-block;
  }
  .form-head {
    font-size: 1em;
    padding: 0.5em;
  }
  form {
    margin-bottom: 20px;
  }
  .fix-scroll {
    height: 500px;
  }
  footer {
    margin-top: 200px;
  }
} */
